XGBoost is a powerful ensemble Machine Learning Algorithm. 

XGBoost or gradient boosting is used to minimize loss function.

It provides fast in memory computing.

It is scalable, fast learning algorithm and provides parallel and distributed computing.

In XGBoost, we create multiple learners of a data frame and results are aggregated value of all learners.

Zoo.csv file contains  details of 100 animals.

It consists 7 seven type of species. 

We have to build a Machine Learning classification model to predict the species Class_Type.

For this task we will use XGBoost Machine Learning classification Algorithm.

In [1]:
#import required libraries

import pandas as pd  #for reading data and data analysis  
import numpy as np
import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier, 
from sklearn.metrics import accuracy_score

In [2]:
# Read the dataset
zoo_data = pd.read_csv("zoo.csv")

In [3]:
zoo_data.shape

(100, 19)

data frame consists 19 columns and 100 records

In [4]:
# Get first 5 record
zoo_data.head()

,animal_name,species,class_type,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,aardvark,Mammal,1,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
1,antelope,Mammal,1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
2,bass,Fish,4,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
3,bear,Mammal,1,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
4,boar,Mammal,1,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1

In [5]:
# Get the list of columns of zoo.csv file

zoo_data.columns

Index(['animal_name', 'species', 'class_type', 'hair', 'feathers', 'eggs',
       'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone',
       'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize'],
      dtype='object')

In [6]:
# check null value
zoo_data.isna().sum()

animal_name    0
species        0
class_type     0
hair           0
feathers       0
eggs           0
milk           0
airborne       0
aquatic        0
predator       0
toothed        0
backbone       0
breathes       0
venomous       0
fins           0
legs           0
tail           0
domestic       0
catsize        0
dtype: int64

isna() method is used to check null values. This data frame is clean and null value is not available

In [7]:
zoo_data['species'].value_counts(normalize=True)

Mammal          0.41
Bird            0.19
Fish            0.13
Invertebrate    0.10
Bug             0.08
Reptile         0.05
Amphibian       0.04
Name: species, dtype: float64

The most species are Mammal(41%) and Amphibian(4%) are lowest.

There are total 7 classes of animals: Mammal, Bird, Fish, Invertebrate, Bug, Reptile and Amphibin

In [8]:
zoo_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   animal_name  100 non-null    object
 1   species      100 non-null    object
 2   class_type   100 non-null    int64
 3   hair         100 non-null    int64
 4   feathers     100 non-null    int64
 5   eggs         100 non-null    int64
 6   milk         100 non-null    int64
 7   airborne     100 non-null    int64
 8   aquatic      100 non-null    int64
 9   predator     100 non-null    int64
 10  toothed      100 non-null    int64
 11  backbone     100 non-null    int64
 12  breathes     100 non-null    int64
 13  venomous     100 non-null    int64
 14  fins         100 non-null    int64
 15  legs         100 non-null    int64
 16  tail         100 non-null    int64
 17  domestic     100 non-null    int64
 18  catsize      100 non-null    int64
dtypes: int64(17), object(2)
memory usage: 15.0+ KB

The dataset has 100 records, 19 feature columns and 1 target column.

17 of the 19 features are integer type, 2 are object type.

Target column class_type is Integer tupe

We do not need animal_name and species column in training data .

Therefore remove unnecessary columns and  seperate independent and target columns

In [9]:


X = zoo_data[['hair', 'feathers', 'eggs','milk', 'airborne', 'aquatic', 'predator',
             'toothed', 'backbone','breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize']]

y = zoo_data['class_type']

X contains list of independent features and y contains dependent/target feature

In [10]:
print("shape of train data",X.shape)
print("shape of test data",y.shape)

shape of train data (100, 16)
shape of test data (100,)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=20,random_state=1)

train_test_split, splits dependent and independent features into train and test dataframe. 

Here we are taking 20 percent data for test purpose, random_state=1 will give same result for each execution

In [12]:
#print size of train test data

print("size of X_train is {}".format(X_train.shape))
print("size of X_test is {}".format(X_test.shape))
print("size of y_train is {}".format(y_train.shape))
print("size of y_test is {}".format(y_test.shape))

size of X_train is (80, 16)
size of X_test is (20, 16)
size of y_train is (80,)
size of y_test is (20,)

Now, dependent and target data set is ready to train and test.

First create an object of XGBClassifier.

Train model on train data set using fit() method and then predict value on X_test data frame

In [13]:
#create object of XGBClassifier
model = XGBClassifier()  
model.fit(X_train,y_train) #fit training data on the model

predict_X_test = model.predict(X_test)
accuracy = accuracy_score(y_test, predict_X_test)
print("\n\n Accuracy Score is {}".format(accuracy))

[03:08:36] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.


 Accuracy Score is 0.95

Our model gives accuracy of 95 percent.